BotToken: "YOUR_BOT_TOKEN"
InviteLink: "https://discord.gg/piracy"
AutoKickOnServer: {
  "ServerID": "ServerName"
}
SpamChannel: "Channel_ID"
Admins: {
  "362141240969527296": "SeaSmoke",
  "UserID": "Username",
}
Colors: {
  "SpringGreen4":    0x008B45,
  "LightSlateBlue":  0x8470FF,
  "CadetBlue1":      0x98F5FF,
  "AquaMarine":      0x7FFFD4,
  "Chocolate":       0xD2691E,
  "DarkGreen":       0x006400,
  "DarkOrange":      0xFF8C00,
  "LightSalmon4":    0x8B5742,
  "HotPink":         0xFF69B4,
  "Wheat":           0xF5DEB3,
  "LightGoldenrod":  0xEEDD82,
  "Azure3":          0xC1CDCD,
  "Cyan":            0x00FFFF,
  "Firebrick1":      0xFF3030,
  "Tomato":          0xFF6347,
  "Orange":          0xFFA500,
  "Orchid1":         0xFF83FA,
  "DarkGoldenrod1":  0xFFB90F,
  "Yellow2":         0xEEEE00,
  "MediumTurquoise": 0x48D1CC,
  "Aquamarine3":     0x66CDAA,
  "Burlywood3":      0xCDAA7D,
  "Khaki3":          0xCDC673,
  "LightBlue":       0x7289DA,
  "AstolfoHair":     0xFED5DB,
  "YuzuHair":        0xF7E3C0,
  "ZeonRed":         0xC22F50,
  "NatsumeHair":     0xE67E95,
  "HoloHair":        0xD58138,
  "ChthollyBlue":    0x4C82C2,
  "ChthollyRed":     0xE2455A,
  "Gold":            0xFFD700,
  "DarkSeaGreen":    0x8FBC8F,
  "RemHair":         0xAFD7FC,
  "RamHair":         0xF5A2B4,
  "VerySoftGreen":   0xC8E6A0,
  "GreenCrystal":    0x8CB86E,
  "Sapphire":        0x0F52BA,
  "Ruby":            0xE0115F,
  "Diamond":         0xB9F2FF,
  "PlumPurple":      0xDDA0DD,
  "Fuchsia":         0xFF00FF,
  "ZeroTwo":         0xEAAFCF,
  "Ichigo":          0x0061A8,
  "Miku":            0xC07067,
  "Kunou":           0xFFE9B9,
  "Rias":            0xE43941,
  "Asia":            0xFDFEBA,
  "ArcticBlue":      0x78ADC2,
  "Crimson":         0xDC143C,
}
